.main {
  border: solid 1px red;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 60px;
    font-family: "Source Sans 3", sans-serif;
    color: #205691;
    text-align: center;
  }

  .section {
    border: solid 1px green;
    display: flex;
    justify-content: space-around;
  }
}
